
.sidebar-logo {
    max-height: 30px;
    display: initial;
    margin: initial;
}


figcaption {
    color: #aaa;
    font-size: 1.4rem;
    line-height: 1.4;
}

/* Bio page */

.rounded {
    border-radius: 50%;
}

.profile-image {
    max-height: 128px;
}